.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
  background-color: var(--color-bg-primary);
}

@media (min-width: 1440px) {
  .section {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-lg);
    gap: var(--space-6);
    min-width: 1016px;
  }
}
